

.navbar{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #000;
    padding-bottom: 20px;
  }
  .navbar .navbar-brand img {
    max-width: 100px;
  }
  .navbar .navbar-nav .nav-link {
    color: white;
    font-size: 16px;
  }
  .navbar .navbar-nav .nav-link{
    text-decoration: none;
  }
  .navbar .navbar-nav .nav-link{
margin-right: 10px;
  }
  .navbar .navbar-nav .nav-link:hover{
    color: #61AE75;
  }
  @media screen and (min-width: 1024px) {
    .navbar {
      letter-spacing: 0.1em;
    }
    .navbar .navbar-nav .nav-link {
      padding: 0.5em 1em;
    }
    .search-and-icons {
      width: 50%;
    }
    .search-and-icons form {
      flex: 1;
    }
  }
  @media screen and (min-width: 768px) {
    .navbar .navbar-brand img {
      max-width: 7em;
    }
    .navbar .navbar-collapse {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
    }
    .search-and-icons {
      display: flex;
      align-items: center;
    }
  }
  .search-and-icons form input {
    border-radius: 0;
    height: 2em;
    background: #fff
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E")
      no-repeat 95%;
      padding-top: 15px;
      padding-bottom:15px;
  }
  .search-and-icons form input:focus {
    background: #fff;
    box-shadow: none;
  }
  .search-and-icons .user-icons div {
    padding-right: 1em;
  }
  .contact-info p,
  .contact-info a {
    font-size: 0.9em;
    padding-right: 1em;
    color: grey;
  }
  .contact-info a {
    padding-right: 0;
  }
  .header{
    color: #61AE75;
    font-size: 50px;
    font-weight: 800;
  }
.contact-info p{
font-size: 16px;
}
.section1{
    background-color: #61AE75;
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar{
    margin-bottom: 0px;
}
/* form section */
.body{
    margin: 0;
    padding: 0;
    background-color: #000;
    /* padding-bottom: 100px; */
  }
  
  #contact {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 50px "Oswald", sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: "Lato";
    font-weight: 400;
  }
  
  .form-control,
  textarea{
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all 0.2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px "Lato", sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px "Lato", sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff;
  }
  
  .social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px "Oswald", sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255, 255, 255, 0.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container,
    .form-horizontal {
      margin: 0 auto;
    }
  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
    .direct-contact-container,
    .form-wrapper {
      float: none;
      margin: 0 auto;
    }
    .form-control,
    textarea {
      margin: 0 auto;
    }
  
    .name,
    .email,
    textarea {
      width: 280px;
    }
  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }
  @media screen and (max-width: 600px){
    #name.form-control{
      padding: 0px !important; 
      width: 70%;
     ;
    }
    #email.form-control{
      padding: 0px !important; 
      width: 70%;
   
    }
    textarea.form-control{
      padding: 0px !important; 
      width: 70%;
      }
  }
 
  .footer{
    background-color: #212934;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .footerhead{
    color: #59AB6E;
    font-size: 50px;
    font-weight: 700;
  }
  .line{
    color: #fff;
  }
  .footerpara{
    color: #fff;
    font-size: 18px;
  }
  .icon{
    color: #fff;
  }
  .footerproducthead{
    color: #fff;
    font-size: 50px;
  }
  .atag{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .atag:hover{
    color: #59AB6E;
  }
  .footericon{
    color: #fff;
  }
  .list{
    list-style: none;
    margin-left: 15px;
  }
  .List-inline{
    display: flex;
    
  }
  .footericon:hover{
    color: #59AB6E;
  }
  .footerbutton{
    color: black;
    background-color: #59AB6E;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: none;
    border-radius: 5px;
  }
  .footerbutton:hover{
    background-color: black;
    color: #FFFFFF;
  }
  .footerlastpart{
    margin-top: 20px;
  }
.moon{
  background-color: #000;
  border-radius: 50%;
  
}
.contact{
  background:#fff ;
}